body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;

}
.logoimage img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 170px;
    height: 70px;
    position: relative;
    top: 6px;
    margin-top: -24px;
}

.menu {
    width: 35px;
    cursor: pointer;
    margin-top: 0;
    position: relative;
    top: 18px;
    left: 60px;
}
.menuicon:nth-child(3) {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 5px 0;
}

.menuicon {  
    width: 40px;
    height: 2px;
    background-color: black;
    margin: 5px 0;
  }
  .navbar {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 90px;
    background-color: rgb(255, 255, 255);
  }
  .header {
    position: relative;
    width: 100%;
    height: 75vh;
    background-image: url("../Images/Header.jpg");
    background-repeat: no-repeat;
    background-position-y: -270px;
    background-size: cover;
  }
  #mainheading{
    position: absolute;
    line-height: 66px;
    text-align: right;
    top: 55%;
    left: 60%;
    font-size: 90px;
    font-weight: 900;
    color: #2C417F;
  }
  .header .blueblock {
    background-color: #2C417F;
    width: 1230px;
    height: 300px;
    position: absolute;
    top: 73%;
    left: 35.3%;
  }
  .colorwhite {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    position: relative;
    z-index: 2;
    line-height: 95px;
    letter-spacing: 1.1;
    text-transform:uppercase;
    font-size: 74px;
    color: #ffffff;
  }
  #ricon {
    position: absolute;
    top: -20%;
    left: 100%;
    font-size: 50px;
    
  }
  .section1{
    width: 653px;
    height: 275px;
    position: absolute;
    top:900px;
    left: 240px;

  }
  .section2{
    position: relative;
    width: 934px;
    height: 629px;
  }
  .section1 h1 {
    color: #A9D85C;
    font-size: 48px;
    font-weight: 700;
    line-height: 67.2px;
  }
  .section1 p {
    font-size: 28px;
    font-weight: 400;
    line-height: 39.2px;
  }
  .section1 button {
    border: none;
    width: 250px;
    height: 90px;
    background-color: #A9D85C;
    color: #ffffff;
    font-weight: 500;
    font-size: 22px;
  }
  .section2 .blueblock {
    position: absolute;
    top: 350px;
    left: 70%;
    width: 800px;
    height: 500px;
    background-color: #2C417F;
  }
.image1 {
    width: 100%;
    z-index: 3;
    height: 580px;
    position: absolute;
    top: 400px;
    left: 75%;
  }
  .section3 {
    width: 100%;
    height: 1200px;
    position: relative;
    top: 480px;
  }
  .section3 h1 {
    width: 316px;
    text-transform: uppercase;
   color: #2C417F;
    font-size: 48px;
    border-bottom:5px solid #2C417F;
    line-height: 67.2px;
    text-align: center;
    font-weight: 500;
   margin: 0 auto;
   margin-bottom: 30px;
  }

  .section3 p {
    margin: 0 auto;
    width: 900px;
    height: 76.18px;
    font-size: 28px;
    line-height: 39.2px;
    text-align: center;
  }
  .section3 img{
    width: 481px;
    height: 718px;
    position: absolute;
    top:200px;
    left: 274px;
  }
  .section3 .greenblock {
    background-color: #A9D85C;
    width: 960px;
    height: 352px;
    position: absolute;
    top: 300px;
    left: 680px;

  }
  .greenblock #explore {
    width: 500px;
    text-align: left;
    height: 78px;
    line-height: 40px;
    font-size: 28px;
    color: #ffffff;
    top: 250px;
    position: absolute;
    margin-left: 80px;
  }
  .section3 .greenblock p{
    width: 500px;
    text-align: left;
    height: 78px;
    line-height: 40px;
    font-size: 28px;
    color: #ffffff;
    top: 140px;
    position: absolute;
    margin-left: 80px;
  }
  .greenblock #separateborder {
    margin-top: 90px;
    width: 170px;
    margin-left: 80px;
    display: block;
    border-top: 4px solid white;
  }
  .section4{
    width: 100%;
  height: 500px;
  position: relative;

  top: 320px;
  display: flex;
  justify-content: space-evenly;
}
.video1, .video2{
  position: relative;
  display: inline-block;
  width: 540px;
  height: 360px;
}
.section4 .image{
  width: 540px;
  height: 360px;
}
#black{
  width: 540px;
  height: 360px;
  background-color: black;
  position: absolute;
top: -0;
  opacity: 0.5;

}
.videobutton1, .videobutton2 {
  position: absolute;
    width: 100px;
    height: 100px;
    top: 120px;
    left: 230px;
    color:#A9D85C;
}
.videobtn {
  border: none;
  position: absolute;
  width: 200px;
  height: 50px;
  top: 230px;
  left: 180px;
  background-color:rgb(169, 216, 92);
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;

}
.videobutton {
  position: absolute;
    width: 100px;
    height: 100px;
    top: 420px;
    left: 220px;
}
.section5 {
  margin: 0 270px;
  top: 200px;
  width: 74%;
  height: 600px;
  position: relative;
}
.section5 h1 {
  top: 50px;
  left: 40%;
  position: absolute;
  text-transform: uppercase;
 color: #2C417F;
  font-size: 48px;
  line-height: 67.2px;
  text-align: center;
  font-weight: 500;
 margin: 0 auto;
 margin-bottom: 30px;
}
.section5 .partners {
  top: 200px;
position: relative;
  width: 280px;
  height: 170px;
  border: 1px solid rgb(168, 168, 168);
}
.section5 .partners img{
  position: absolute;
  top: 30px;
  left: 45px;
  width: 185px;
  height: 100px;
}
.flexlogos {
  display: grid;
  gap : 50px 20px;
  grid-template-columns: auto auto auto auto;
  
}
footer {
  position: relative;
  top: 240px;
  width: 100%;
  height: 300px;
  background-color: #2C417F;
}
.footer {
  width: 700px;
  height: 185px;
  gap: 20px 20px;
  display: grid;
  grid-template-columns: auto auto;
    position: absolute;
  top: 60px;
  left: 35%;
}
.location p{
  position: relative;
  top:-8px;
  left: 22px;
  display: inline-block;
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
}
.usefull a{
  display: block;
  padding: 1px;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
.icons{
  
  font-size:40px;
   color: white;
}
.icons i:nth-child(1){
  top: 170px;
  left: 100%;
  z-index: 3;
  position: absolute;
  display: inline-block;
  margin-right: 10px;
}
.icons i:nth-child(2){
  top: 170px;
  left: 110%;
  z-index: 3;
  position: absolute;
  display: inline-block;
  margin-right: 10px;
}
.icons i:nth-child(3){
  top: 170px;
  left: 120%;
  z-index: 3;
  position: absolute;
  display: inline-block;
  margin-right: 10px;
}
.copyright {
  position: absolute;
  top: 260px;
  left: 45%;
  color: #ffffff;
  font-size: 14px;
}


.box{
  display: none;
  width: 100%;
  height: 90vh;
  background-color: #ffffff91;
  position: absolute;
  z-index: 1;
  transition: 0.3s;
}
.boxnavbar{
  background-color: #2C417F;
  width: 400px;
  height: 500px;
position: absolute;
left: 200px;

}
.boxnavbar a {
  border-bottom: 1px solid #ffffff;
  display: block;
  padding: 4px;
  text-transform: uppercase;
  width: 250px;
  font-size: 18px;
  height: 18px;
  color: #ffffff;
  text-decoration: none;
}
.boxnavbar .main a:nth-child(1){
  padding-top: 72px;
}
.boxnavbar .dropmain a:nth-child(1){
  padding-top: 30px;
}
.boxnavbar li {
  width: 250px;
  height: 80px;
}
.boxnavbar ul {
  padding-left: 55px;
  margin: 0;
  list-style-type: none;
}
.dropdown-content{
display: none;
}
.dropdown-content a {
  display: block;
  padding: 3px 2px;
  border: none;
  width: 225px;
  height: 13px;
  font-size: 13px;
  line-height: 13.2px;
}
.boxnavbar a:hover{
  color: #A9D85C;
}
.dropdown-content ul {
  padding-left: 10px ;
  list-style-type: none;
}
.dropdown-content li {
  padding: 4px 0;
  width: 216px;
  height: 20px;
}

.fa-square-xmark{
  cursor: pointer;
 position: absolute;
 right: 20px;
 top: 20px;
 font-size: 35px;
 color: #ffffff;
}
.fa-square-xmark:hover{
  color: #A9D85C;
}